{{ form_errors(form) }}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.appName) }}
            {{ form_row(form.appVersion) }}
            {{ form_row(form.enabled) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.accountId) }}
            {{ form_row(form.licenseKey) }}
            {{ form_row(form.sandbox) }}
        </div>
    </div>
</div>
<div class="ui three column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.machineName) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.zone) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.shippingTaxCode) }}
        </div>
    </div>
</div>
<div class="ui one column stackable grid">
    <div class="column">
        <h4 class="ui top attached large header">{{ form_label(form.senderData) }}</h4>
        <div class="ui attached segment">
            <div class="two fields">
                {{ form_row(form.senderData.countryCode) }}
                {{ form_row(form.senderData.provinceCode) }}
            </div>
            <div class="field">
                {{ form_row(form.senderData.street) }}
            </div>
            <div class="two fields">
                {{ form_row(form.senderData.city) }}
                {{ form_row(form.senderData.postcode) }}
            </div>
        </div>
    </div>
</div>